.centro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cards{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    width: 700px;
}

.textoCentro{
    text-align: center;
}

.rosa{
    border: 1.5px #b144b4 solid;
    width: 231px;
}

.fotos{
    width: 231.33px;
    height: 198px;
}