.tabela{
  width: 900px;
  text-align: center;
  color: #fff;
}

.centro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  
    
}

.botao{
  border: none;
  color: red;
  background-color: transparent;
}

input{
  width: 45px;
  text-align: center;
}

.botao-clique{
  color:#fff;
}

.botao-clique:hover{
  color: black;
}